@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 .base{
    height: 350px;
    width: auto;
    }
    
    .containt{
        height: 350px;
        width: auto;
        position: absolute;
    }

    #text{
        display:none
    }

    #text0{
        display:none
    }

    #text1{
        display:none
    }

    #text2{
        display:none
    }

    #text3{
        display:none
    }

    .primary{
        margin-top: 30px;
        background-color: #b2292b;
        color: white;
        padding: 5px 10px 5px 10px;
        border: none;
    }

    .heading{
        margin-bottom: 30px;
    }
